.ticket-card {
  background-color: var(--color-card);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  box-shadow: var(--shadow-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
}

.ticket-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.ticket-id {
  font-size: var(--font-size-sm);
  color: var(--color-text-secondary);
}

.user-avatar {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.avatar.unavailable {
  filter: grayscale(100%);
}

.status-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-text-secondary);
}

.status-dot.available {
  background-color: var(--color-primary);
}

.ticket-title h3 {
  font-size: var(--font-size-md);
  margin: 0;
  color: var(--color-text-primary);
  font-weight: bold;
}

.ticket-footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: var(--spacing-md);
}

.priority-icon {
  /* width: 20px; */
  /* height: 20px; */
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  padding: var(--spacing-xs) var(--spacing-sm);
}

.tags {
  display: flex;
  gap: var(--spacing-xs);
  flex-wrap: wrap;
}

.tag {
  border-radius: var(--radius-md);
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: var(--font-size-xs);
  color: var(--color-text-secondary);
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}
.tag-circle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d8d8d8;
}