.user-avatar {
    position: relative;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .status-dot.unavailable {
    background-color: var(--color-warning);
  }
  
  .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    border: 1.5px solid white;
  }
  
  .status-dot.available {
    background-color: var(--color-success);
  }

  .loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .loading-container img{
    width: 100px;
    height: 100px;
  }